{% extends "base.html" %}
{% block title %}Editar Aluno{% endblock %}
{% block content %}

<div class="container text-center mt-5">
    <h2>Editar Aluno {{ aluno.nome }}</h2>

    <form method="POST">
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="nome" name="nome" placeholder="Nome" value="{{ aluno.nome }}" required>
            <label for="nome">Nome</label>
        </div>
        <div class="form-floating mb-3">
            <input type="email" class="form-control" id="email" name="email" placeholder="Email" value="{{ aluno.email }}" required>
            <label for="email">Email</label>
        </div>
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="telefone" name="telefone" placeholder="Telefone" value="{{ aluno.telefone }}" maxlength="15" required>
            <label for="telefone">Telefone</label>
        </div>
        <div class="form-floating mb-3">
            <select id="situacao" class="form-select" name="situacao" required>
                <option value="Ativo" {{ 'selected' if aluno.situacao == 'Ativo' }}>Ativo</option>
                <option value="Concluído" {{ 'selected' if aluno.situacao == 'Concluído' }}>Concluído</option>
                <option value="Evasão" {{ 'selected' if aluno.situacao == 'Evasão' }}>Evasão</option>
            </select>
            <label for="situacao">Situação</label>
        </div>
        <div class="form-floating mb-3">
            <select id="instituicao_id" class="form-select" name="instituicao_id" required>
                {% for inst in instituicoes %}
                    <option value="{{ inst.id }}" {{ 'selected' if aluno.instituicao_id == inst.id }}>{{ inst.razao_social }}</option>
                {% endfor %}
            </select>
            <label for="instituicao_id">Instituição</label>
        </div>
        <div class="form-floating mb-3">
            <select id="curso_id" class="form-select" name="curso_id" required>
                {% for curso in cursos %}
                    <option value="{{ curso.id }}" {{ 'selected' if aluno.curso_id == curso.id }}>{{ curso.nome_curso }}</option>
                {% endfor %}
            </select>
            <label for="curso_id">Curso</label>
        </div>
        <div class="form-floating mb-3">
            <select id="turma_id" class="form-select" name="turma_id" required>
                {% for turma in turmas %}
                    <option value="{{ turma.id }}" {{ 'selected' if aluno.turma_id == turma.id }}>{{ turma.nome_turma }}</option>
                {% endfor %}
            </select>
            <label for="turma_id">Turma</label>
        </div>
        <button class="btn btn-primary">Atualizar</button>    
    </form>
</div>
{% endblock %}
