{% extends 'base.html' %}

{% block title %}Cadastrar Curso{% endblock %}

{% block content %}
<div class="container text-center mt-4">
    <h2>Cadastrar novo Curso</h2>

    <!-- Exibe mensagem de erro caso não preencha algum dos inputs -->
    {% with messages = get_flashed_messages(category_filter=["error"]) %}
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-danger" role="alert">
                    <span>{{ message }}</span>
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <form action="{{ url_for('curso.create') }}" method="POST">
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="nome_curso" name="nome_curso" placeholder="Nome" required>
            <label for="nome_curso">Nome do Curso</label>
        </div>
        <div class="form-floating">
            <select class="form-select" name="id_instituicao" id="id_instituicao" required>
                <option value="">Instituição</option>
                {% for inst in instituicoes %}
                    <option value="{{ inst.id }}">{{ inst.razao_social }}</option>    
                {% endfor %}
            </select>
            <label for="id_instituicao">Selecione a Instituição</label>
        </div>

        <button type="submit" class="btn btn-lg btn-success mt-5">Cadastrar</button>
    </form>
</div>
{% endblock %}